<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tencentnavigation.tencentnavidemo">

    <!-- 通过GPS得到精确位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 通过网络得到粗略位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 访问网络，某些位置信息需要从网络服务器获取 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 修改WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络的变化 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 访问手机当前状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 腾讯地图 SDK 要求的权限(开始) -->
    <!-- 访问网络获取地图服务 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 检查网络可用性 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WiFi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 需要外部存储写权限用于保存地图缓存 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取 device id 辨别设备 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取日志读取权限，帮助我们提高地图 sdk 稳定性 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 腾讯地图 SDK 要求的权限(结束) -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="TencentMapSDK"
            android:value="你的导航key" />

        <activity android:name=".IndexActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RouteActivity" />

        <!-- 导航组件 -->
        <activity android:name=".RouteComponentActivity" />
        <activity android:name=".NaviComponentActivity" />
        <activity android:name=".SettingsComponentActivity" />
        <!-- 检索 -->
        <activity android:name=".LocationSearchActivity" />
        <activity android:name=".NaviRealActivity" />
        <activity android:name=".NaviSimuActivity" />
        <activity android:name=".SetDayNightModeActivity" />
        <activity android:name=".SetNaviModeActivity" />
        <activity android:name=".SetNaviFunctionPowerActivity" />
        <activity android:name=".SetDefaultResouceActivity" />
        <activity android:name=".SetNaviFixingProportionActivity" />
        <activity android:name=".SetLineEraseActivity" />
        <activity android:name=".SetLineWidthActivity" />
        <activity android:name=".NaviPanelStyleActivity" />
        <activity android:name=".NaviSpeedStyleActivity" />
        <activity android:name=".SetPanelHideActivity" />
        <activity android:name=".NaviBounceStyleActivity" />
        <activity android:name=".CompassMarkerVisibleActivity" />
        <activity android:name=".ElectronicEyeMarkerVisibleActivity" />
        <activity android:name=".TurnArrowVisibleActivity" />
        <activity android:name=".VisibleRegionMarginActivity" />
        <activity android:name=".UpdateExtraPointsInVisibleActivity"/>
        <activity android:name=".NaviRideActivity"/>
        <activity android:name=".NaviWalkActivity"/>
    </application>

</manifest>